:root {
  --spotOne: #26115a;
  --spotTwo: #ec008c;
  --spotThree: #ff0000;
}

html,
body {
  font-family: "Unica One", Cursive;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  background-color: #090d12;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 460px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 50%;
  }
}

.intro {
  position: fixed;
  z-index: 3;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
@media only screen and (min-width: 700px) {
  .intro {
    font-size: 1.5rem;
  }
}
/* Play Button */

.buttonHolder {
  display: flex;
  margin: 3rem auto;
}

.button {
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  margin: 2rem auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(160deg, var(--spotThree), var(--spotTwo));
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 0 0 var(--spotTwo), 0.5rem 0.5rem 30px var(--spotOne);
  transition: box-shadow 0.6s;
  width: fit-content;
}

.button:hover {
  box-shadow: 0 0 60px 2px var(--spotTwo), 0.5rem 0.5rem 30px var(--spotOne);
}

.button:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 30px;
  background-image: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

/* Score */

.scoreHolder {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 2rem;
}

.turnsCount,
.timer {
  margin: 0.2rem 3rem;
  font-size: 1.2rem;
}

.restart {
  cursor: pointer;
  margin-top: 4px;
}
/* Cards */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
.card {
  width: 20vw;
  height: 20vw;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  .card {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (min-width: 1000px) {
  .card {
    width: 12vw;
    height: 12vw;
    margin: 0.7em;
  }
}
@media only screen and (min-width: 1500px) {
  .card {
    width: 10vw;
    height: 10vw;
    margin: 0.9em;
  }
}
.card:hover {
  transform: scale(1.2);
}
.card.one,
.card.six {
  box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
}
.card.one:hover,
.card.six:hover {
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.65);
}
.card.two,
.card.seven {
  box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
}
.card.two:hover,
.card.seven:hover {
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}
.card.three,
.card.eight {
  box-shadow: 0 20px 20px -17px rgba(5, 255, 151, 0.53);
}
.card.three:hover,
.card.eight:hover {
  box-shadow: 0 30px 45px -15px rgba(5, 255, 151, 0.6);
}
.card.four,
.card.five {
  box-shadow: 0 20px 20px -17px rgba(0, 255, 255, 0.53);
}
.card.four:hover,
.card.five:hover {
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.6);
}

/* Icons on cards */

span.icon {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  color: #ec008c;
  text-shadow: 0 0 30px #eb2a64;
}
span.icon::before {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f128";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  span.icon::before {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  span.icon::before {
    font-size: 3rem;
  }
}

.icon.icon1::before {
  content: "\f06d";
  color: #00ffd5;
  text-shadow: 0 0 30px #00ffd5;
}
.icon.icon2::before {
  content: "\f1e2";
  color: #00acff;
  text-shadow: 0 0 30px #00acff;
}
.icon.icon3::before {
  content: "\f083";
  color: #ae00ff;
  text-shadow: 0 0 30px #ae00ff;
}
.icon.icon4::before {
  content: "\f810";
  color: #ff0000;
  text-shadow: 0 0 30px #ff0000;
}
.icon.icon5::before {
  content: "\f1e3";
  color: #ff00b3;
  text-shadow: 0 0 30px #ff00b3;
}
.icon.icon6::before {
  content: "\f57b";
  color: #3ecc13;
  text-shadow: 0 0 30px #3ecc13;
}

/* Animation */

.fadeOut {
  /* rename */
  animation-name: removeCard;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes removeCard {
  0% {
    opacity: 1;
    transform: rotateY(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateY(0deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotateY(90deg);
  }
}

.endGame {
  animation-name: grow;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: subpixel-antialiased;
}

@keyframes grow {
  100% {
    transform: translate3d(0, 40%, 0) scale(1.5, 1.5);
  }
}

.translate {
  animation-name: translate;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: subpixel-antialiased;
}

@keyframes translate {
  100% {
    transform: translate(0, 10rem);
  }
}
