:root {
  --spotOne: #26115a;
  --spotTwo: #ec008c;
  --spotThree: #ff0000;
}

html,
body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  background-color: #11161f;
}
/* 
.container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
} */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 460px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 50%;
  }
}

/* Play Button */

.wrapper {
  display: flex;
  height: 30vh;
  z-index: 3;
  position: relative;
}

.buttonHolder {
  width: 100%;
  display: flex;
  height: 30vh;
  z-index: 3;
  position: relative;
}
.button {
  font-family: "Unica One", Cursive;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  margin: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(160deg, var(--spotThree), var(--spotTwo));
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 0 0 var(--spotTwo), 0.5rem 0.5rem 30px var(--spotOne);
  transition: box-shadow 0.6s;
}

.button:hover {
  box-shadow: 0 0 60px 2px var(--spotTwo), 0.5rem 0.5rem 30px var(--spotOne);
}

.button:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 30px;
  background-image: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

.scoreHolder {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.turnsCount, .timer {
  margin: 1rem 3rem;
}
/* Cards */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
.card {
  width: 20vw;
  height: 20vw;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  .card {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (min-width: 1000px) {
  .card {
    width: 12vw;
    height: 12vw;
    margin: 0.7em;
  }
}
@media only screen and (min-width: 1500px) {
  .card {
    width: 10vw;
    height: 10vw;
    margin: 0.9em;
  }
}
.card:hover {
  transform: scale(1.2);
}
.card.one,
.card.six {
  box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
}
.card.one:hover,
.card.six:hover {
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.65);
}
.card.two,
.card.seven {
  box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
}
.card.two:hover,
.card.seven:hover {
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}
.card.three,
.card.eight {
  box-shadow: 0 20px 20px -17px rgba(5, 255, 151, 0.53);
}
.card.three:hover,
.card.eight:hover {
  box-shadow: 0 30px 45px -15px rgba(5, 255, 151, 0.6);
}
.card.four,
.card.five {
  box-shadow: 0 20px 20px -17px rgba(0, 255, 255, 0.53);
}
.card.four:hover,
.card.five:hover {
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.6);
}

#one::before,
#six::before,
#nine::before {
  color: #006fff;
  text-shadow: 0 0 30px;
}
#two::before,
#seven::before,
#ten::before {
  color: #ff5f40;
  text-shadow: 0 0 30px #ff5f40;
}
#three::before,
#eight::before,
#eleven::before {
  color: rgb(0, 255, 136);
  text-shadow: 0 0 30px rgb(0, 255, 136);
}
#four::before,
#five::before,
#twelve::before {
  color: #00acff;
  text-shadow: 0 0 30px #00acff;
}
/* Icons on cards */

span.icon {
  transform: translateZ(0);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
span.icon::before {
  font-size: 55px;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f128";
}

.icon.icon1::before {
  content: "\f06d";
}
.icon.icon2::before {
  content: "\f1e2";
}

.icon.icon3::before {
  content: "\f083";
}

.icon.icon4::before {
  content: "\f810";
}

.icon.icon5::before {
  content: "\f1e3";
}
.icon.icon6::before {
  content: "\f57b";
}
